#game {
    background-image: url('../img/game_board_l3.jpg');
    height: 770px;
    width: 1425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}