#game {
    background-image: url('../img/game_board_l3.jpg');
    height: 680px;
    width: 1425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .lobby {
    background-image: url('../img/lobby_floor_l3.png');
    height: 1200px;
    width: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
} */