## Test report

- Date: 25/10-2024
- By Cecilia Nilsson

| Test case    | Result       |
|--------------|--------------|
| 1.1          | Success      |
| 1.2          | Success      |
| 1.3          | Success      |
| 1.4          | Success      |
| 2.1          | Success      |
| 3.1          | Success      |
| 4.1          | Success      |