## Test Report

- Date: 25/10-2024
- By Cecilia Nilsson

| Test case    | Result       |
|--------------|--------------|
| 1.1          | Success      |
| 2.1          | Success      |
| 3.1          | Success      |
| 4.1          | Success      |
| 5.1          | Success      |